body{
    background: url(wp2815529.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 .done{
     text-decoration: line-through;
 }


input{
    padding: 0.5rem;
}

.buttonStyle{
    padding: 0.5rem 1rem;
    
}

.listButton{
    margin-left: 50px;
    padding: 0.3rem 0.7rem;
}

h1,ol{
    color: rgb(243, 237, 237);
    
}


h1{
    
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}